*,
*::before,
*::after{
box-sizing: border-box;   
}

@font-face {
  font-family: 'sf-pro-display';
  src: url(../fonts/SF-Pro-Display-Regular.woff2) format('woff2'),
     url(../fonts/SF-Pro-Display-Regular.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sf-pro-display';
  src: url(../fonts/SF-Pro-Display-Bold.woff2) format('woff2'),
     url(../fonts/SF-Pro-Display-Bold.woff) format('woff');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'spaceagecyrillic';
  src: url(../fonts/spaceagecyrillic-regular.woff2) format('woff2'),
     url(../fonts/spaceagecyrillic-regular.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

a{
   color: inherit; 
   text-decoration: none;
}

button{
 border: none; 
 background-color: transparent;
 cursor: pointer;
 color: inherit;
 font-family: 'sf-pro-display';
}


body{
  font-family: 'sf-pro-display';
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
    color: #fff;
}


.container{
max-width: 1220px;
margin-left: auto;
margin-right: auto;
padding-left: 10px;
padding-right: 10px;
}

.title{
font-family: 'spaceagecyrillic';
padding: 100px 0; 
font-size: 48px;
line-height: 48px;
font-weight: 400;
}

.button{
  text-transform: uppercase;
  border: 1px solid #fff;
  font-size: 18px;
  line-height: 21px;
  padding: 20px 45px;
}

.header{
background-image: url(../images/header-bg.jpg);
background-position: center; 
background-repeat: no-repeat; 
background-size: cover;  
}

.header__inner{
 display: flex;
 flex-direction: column;  
 justify-content: space-between;
 min-height: 100vh; 
}

.header__top{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  padding: 75px 0 35px;
}
.menu__list{
   display: flex; 
}
.menu__item{
    margin-right: 30px;
}

.menu__link{
text-transform: uppercase;
font-style: 18px;
line-height: 21px;
transition: color .5s;
}
.menu__link:hover{
  color: #cb0e0e;
}

.phone{
 font-size: 24px; 
 line-height: 29px;
 margin-left: auto;
}

.login{
  margin-left: 22px;
  margin-right: 134px;
}

.header__content{
  max-width: 600px;
}

.header__title{
  font-family: 'spaceagecyrillic';
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  margin-bottom: 20px;
}

.header__title span{
font-size: 110px;
}

.header__text{
  font-size: 24px;
  line-height: 29px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.header__btn{
font-size: 24px;
line-height: 29px;
text-transform: uppercase;
text-align: center;
width: 100%;
border: 1px solid #fff;
padding: 15px 10px 16px;
}

.header__description{
display: flex;
justify-content: flex-end;
margin-top: 40px;
margin-bottom: 5%;
}

.header__description-text{
 width: 165px;
 font-size: 14px;
 line-height: 17px;
}

.header__description-text + .header__description-text{
  margin-left: 52px;
}

.about{
  background-image: url(../images/about-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about__item{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 150px;
}

.about__item:nth-child(odd){
flex-direction: row-reverse;
}

.about__img{
  max-width: 100%;
}

.about__content{
width: 600px;
}

.about__content-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 5px;
}

.about__content-subtitle{
font-size: 12px;
line-height: 14px;
font-weight: 400;
color: #036cca;
margin-bottom: 30px;
text-transform: uppercase;
}

.about__content-text{
display: flex;
justify-content: space-between;
margin-bottom: 50px;
}

.about__content-text p{
width: 165px;
}

.about__table{
margin-bottom: 50px;
}

.about__table-caption{
caption-side: bottom;
text-align: left;
margin-top: 20px;
font-size: 12px;
line-height: 14px;
}

.about__table-tr{
border: 1px solid #fff;
border-left: none;
border-right: none;  
}

.about__table-tr + .about__table-tr{
font-size: 36px;
line-height: 43px;
font-weight: bold;
text-align: center;
}

.about__table-td{
padding: 10px 30px 10px 0;
}
.about__table-td span{
font-size: 14px;
line-height: 17px;
display: block;
}

.how-to{
  background-image: url(../images/howto-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding-bottom: 100px;
}

.how-to__box{
  text-align: center;
}

.how-to__box circle,
.how-to__box text,
foreignObject{
  transition: all .5s;
  cursor: pointer;
  font-size: 18px;
}

.how-to__box g:hover circle{
  r: 20px;
  fill: #036cca;
}

.how-to__box g:hover text{
  fill: #036cca;
  font-size: 36px;
}


.how-to__box g:hover foreignObject{
  color: #036cca;
  font-size: 22px;
}

foreignObject{
  text-align: left;
}

.to-book{
  background-image: url(../images/tobook-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 100vh;
}

.to-book__inner{
  display: flex;
  justify-content: space-between;
}

.to-book__text{
  width: 165px;
 font-size: 14px;
 line-height: 17px;
 margin-top: 100px;
 margin-left: auto; 
 margin-right: 52px;
}

.to-book__text + .to-book__text{
  margin-right: 0;
  margin-left: 0;
}

.info{
  background-image: url(../images/info-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}

.special-offer__inner{
  display: flex;
  justify-content: space-between;
  }

.special-offer__item{
  width: 500px;  
}

.special-offer__item-box{
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px;
  border: 1px solid #fff;
  padding: 40px 75px;
  text-align: center;
}

.special-offer__item-text{
font-size: 24px;
line-height: 29px;
width: 236px;
margin: 0 auto;
}

.special-offer__item-text span{
 color: #cb0e0e; 
}

.special-offer-old-price{
text-align: right;
font-size: 14px;
line-height: 17px;
margin-bottom: 16px;
position: relative;
}

.special-offer-old-price::before{
  content: '';
  position: absolute;
  width: 68px;
  height: 1px;
  background-color: #cb0e0e;
  top: 7px;
  right: 0;
  transform: rotate(15deg);
}

.special-offer-new-price{
  font-size: 48px;
  line-height: 57px;
}

.special-offer__btn{
width: 100%;
}

.services{
 padding-bottom: 200px; 
}

.services__inner{
  display: flex;
  justify-content: space-between;
}
.services__box-list{
  width: 620px;
  margin-right: 80px;
  font-size: 24px;
  line-height: 29px;
}

.services__list-title{
  margin-bottom: 25px;
}

.services__list{
list-style: none;
margin-bottom: 25px;
}

.services__list-item{
  padding-left: 36px;
  position: relative;
}

.services__list-item::before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  left: 0;
  top: 4px;
}

.services__description{
 font-size: 12px; 
 line-height: 14px;
 color: #e5e5e5;
}

.services__buttons{
  width: 500px;
}

.services__btn{
  width: 100%;
}

.services__btn--first{
  margin-bottom: 50px;
  position: relative;
}

.services__btn--first::before{
content: '';
position: absolute;
right: 0;
bottom: 43px;
background-image: url(../images/photo.png);
width: 192px;
height: 150px;
}

.slider{
  text-align: center;
}

.slider__inner{
  margin-bottom: 50px;
  border: 1px solid #fff;
  padding: 100px 0;
}

.slider__description{
  font-family: 'spaceagecyrillic';
  font-size: 24px;
  line-height: 30px;
}

.slider__box-img{
  margin: 0 auto;
}

.slider__arrow{
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 5;
}

.slider__arrow-left{
  left: 75px;
}

.slider__arrow-right{
  right: 75px;
}

.contacts{
  background-color: #010203;
  padding-bottom: 100px;
}

.contacts__inner{
  display: flex;
  justify-content: space-between;
}

.contacts__box{
 width: 500px;
}

.contacts__title{
  padding-bottom: 46px;
}

.contacts__box-text{
 font-size: 24px;
 line-height: 29px;
 margin-bottom: 80px;
}

.contacts__form-input{
  background-color: #010203;
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 30px;
  color: #fff;
  font-family: 'sf-pro-display';
  font-size: 14px;
  line-height: 17px;
  padding: 20px 0;
  width: 100%;
}

.contacts__form-input::placeholder{
  color: #fff;
  font-family: 'sf-pro-display';
  font-size: 14px;
  line-height: 17px;
}

.contacts__btn{
margin-top: 70px;
width: 100%;
}

.contacts__guarantees{
  width: 500px;
}

.contacts__guarantees-text{
  font-size: 24px;
  line-height: 29px;
}

.contacts__guarantees-img{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.footer{
  background-image: url(../images/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 100px 0 150px;
}

.footer__inner{
 display: flex;
 justify-content: flex-end; 
}

.footer__text{
width: 165px;
margin-right: 50px;
}

.footer__text p + p{
  margin-top: 50px;
}

.footer__menu{
list-style: none;
width: 120px;
margin-right: 95px;
}

.footer__links{
list-style: none;
width: 165px;
}

.footer__menu-item,
.footer__links-item{
  margin-bottom: 20px;
}

.footer__menu-link,
.footer__links-link{
  text-transform: uppercase;
  transition: color .5s;
}

.footer__menu-link:hover,
.footer__links-link:hover{
 color: #cb0e0e; 
}

.menu-btn{
  display: none;
  width: 40px;
  padding: 0;
  position: relative;
  z-index: 20;
  height: 30px;
}


.menu-btn span{
  display: block;
  height: 2px;
  background-color: #fff;
  position: relative;
}


.menu-btn span::before,
.menu-btn span::after{
content: '';
width: 40px;
height: 2px;
background-color: #fff;
position: absolute;
left: 0;
}


.menu-btn span::before{
top: -10px;
}


.menu-btn span::after{
top: 10px;
}

.how-to__box-list{
  display: none;
}


@media (max-width: 1160px){
.about__item{
 display: block;
  }
  .about__content{
    width: 100%;
  }
  .about__content-text{
    display: block;
  }
  .about__content-text p{
    width: 100%;
    margin-bottom: 20px;
  }
  .about__img{
    margin-bottom: 50px;
  }
  .about{
    text-align: center;
  }
  .about__table{
    width: 100%;
  }
}


@media (max-width: 1050px){
  .special-offer__inner{
    display: block;
  }
  .special-offer__item{
    width: 100%;
 }
 .special-offer__btn{
   margin-bottom: 20px;
 }
 .contacts__inner{
   display: block;
 }
 .contacts__box{
   width: 100%;
 }
 .contacts__guarantees{
   margin: 0 auto;
 }
}



@media (max-width: 1024px){
  .login{
    margin-right: 0;
  }
  .to-book__inner{
    display: block;
  }
  .to-book__text {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
 }
}


@media (max-width: 895px){
  .header__top{
    padding-top: 30px;
  }
  .menu-btn{
    display: block;
   
  }
 .menu__list{
   transform: translateY(-150%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #010203;
    padding-top: 90px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
  }

.menu__list.active{
  transform: translateY(0);
}

.menu__item{
  padding: 15px 0;
}


.menu__link{
  display: block;
}

.phone,
.login{
  position: relative;
  z-index: 20;
 }
 .header__content{
   margin: 0 auto;
 }
 .header__description{
   justify-content: center;
 }
 .header{
   background-position: center right;
 }
 .how-to__box svg{
   display: none;
 }
 .how-to__box-list{
  display: block;
  list-style: none;
 }
 .how-to__box-item{
   padding-bottom: 30px;
   text-align: left;
   padding-left: 20px;
   margin-left: 20px;
   position: relative;
   border-left: 1px solid #fff;
 }
 .how-to__box-item:last-child{
   border-left: none;
 }
 .how-to__box-item::before{
  content: '';
  position: absolute;
  left: -10px;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
 }
 .services__inner{
   display: block;
 }
 .services__box-list{
   width: 100%;
   margin-bottom: 170px;
   margin-right: 0;
 }
 .services__buttons {
  max-width: 500px;
  width: auto;
  margin: 0 auto;
 }
 .slick-slide img{
   max-width: 100%;
 }
}


@media (max-width: 720px){
  .services {
    padding-bottom: 50px;
 }
 .slider__inner{
   padding: 0;
 }
 .slider__description {
  font-size: 18px;
  line-height: 24px;
 }
 .info{
   padding-bottom: 50px;
 }
}


@media (max-width: 640px){
  .header__title {
    font-size: 34px;
    line-height: 30px;
  }
  .header__title span{
  font-size: 60px;
  }
  .header__content{
    text-align: center;
  }
  .header__text{
    justify-content: center;
    font-size: 18px;
  }
  .header__text p{
    padding: 0 10px;
  }
  .header__btn{
    font-size: 18px;
    line-height: 24px;
    width: 60%;
  }
  .header__description{
    display: block;
  }
  .header__description-text{
    width: 100%;
    text-align: center;
  }
  .header__description-text + .header__description-text{
    margin-left: 0;
    margin-top: 20px;
  }
  .title{
    padding: 50px 0;
    font-size: 38px;
    line-height: 38px;
 }
 .about__item{
   padding-bottom: 50px;
 }
 .about__table-tr:first-child{
   display: none;
 }
 .about__table-td{
 display: block;
 text-align: right;
 border-bottom: 1px solid #fff;
 }
 .about__table-td:last-child{
   border: none;
 }
 .about__table-td span{
 display: inline-block;
 }
 .about__table-td::before{
   content: attr(aria-label);
   float: left;
 }
 .about__table-tr + .about__table-tr {
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
 }
 .to-book{
   background-position: top left;
 }
 .contacts__guarantees-img{
   max-width: 100%;
 }
 .contacts__guarantees{
   width: 100%;
 }
 .services__title{
   font-size: 35px;
 }
}


@media (max-width: 570px){
  .footer__inner{
    display: block;
  }
  .footer__text{
    width: 100%;
    margin-right: 0;
  }
  .footer__text p + p{
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .footer__menu,
  .footer__links{
    margin-right: 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .footer__menu{
    margin-bottom: 50px;
  }
  .footer{
    text-align: center;
    padding-bottom: 100px;
  }
}

@media (max-width: 480px){
  .title{
    font-size: 28px;
    line-height: 28px;
  }
  .special-offer-new-price {
    font-size: 34px;
    line-height: 44px;
 }
 .services__box-list {
  font-size: 18px;
  line-height: 26px;
 }
 .special-offer__item-box{
   padding: 20px 10px;
 }
 .services__title,
 .to-book__title{
   font-size: 23px;
 }
 .contacts__guarantees-text {
  font-size: 20px;
  line-height: 26px;
 }
}

@media (max-width: 375px){
  .services__btn--first::before{
  bottom: 63px;
  }
}

@media (max-width: 360px){
.header__top{
  flex-wrap: wrap;
 }
 .phone{
   width: 100%;
   margin-right: auto;
   margin-top: 20px;
   text-align: center;
 }
 .menu,
 .login{
   border: -1;
 }
 .menu__list{
   padding-top: 110px;
 }
 .header__title{
   font-size: 28px;
 }
 .header__title span{
   font-size: 32px;
 }
 .header__btn{
   font-size: 18px;
   width: 100%;
 }
}